.calendar-item {
  display: grid;
  width: 100px;
  height: 100px;

  .calendar-date {
    text-align: center;
    margin: 0;
    font-size: 30px;
    line-height: 98px;
    width: 100%;
    border: 1px solid #000;
    background-color: #eee;
    transition: all 0.5s ease 0.1s;

    &:hover {
      background-color: #ffc0cb;
      cursor: pointer;
      transform: translate(0, -20px);
    }
  }
}
