.calendar {
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  grid-auto-rows: 100px;
  grid-gap: 1px;
  width: 707px;
  box-sizing: border-box;
  justify-self: center;
  align-self: center;
  outline: 1px solid red;
}

.calendar-mon {
  .calendar-item:first-child {
    grid-column-start: 1;
  }
}

.calendar-tue {
  .calendar-item:first-child {
    grid-column-start: 2;
  }
}

.calendar-wed {
  .calendar-item:first-child {
    grid-column-start: 3;
  }
}

.calendar-thu {
  .calendar-item:first-child {
    grid-column-start: 4;

  }
}

.calendar-fri {
  .calendar-item:first-child {
    grid-column-start: 5;

  }
}

.calendar-sat {
  .calendar-item:first-child {
    grid-column-start: 6;
  }
}

.calendar-sun {
  .calendar-item:first-child {
    grid-column-start: 7;
  }
}

.calendar-30 {
  .calendar-item:nth-child(31) {
    display: none;
  }
}
