@import "grid";
@import "calendar-item";
@import "utils";
@import "fonts";
@import "typography";

* {
  box-sizing: border-box;
}

body {
  display: grid;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
}
